[Install]
RequiredBy=actions-runner.service

[Service]
ExecStart=/usr/lib/actions-runner-ec2/bin
Type=oneshot

[Unit]
After=network.target
Before=actions-runner.service
Description=Create GitHub Actions Runner on EC2
