concurrency:
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}
  group: build/${{ github.ref }}
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/actions/setup
      - name: Build
        run: .github/workflows/build/build
    timeout-minutes: 30
name: Build
on:
  push:
  workflow_dispatch:
