[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/opt/actions-runner/run.sh
Group=actions-runner
KillMode=mixed
Restart=on-success
TimeoutStopSec=5m
Type=exec
User=actions-runner
WorkingDirectory=/opt/actions-runner

[Unit]
After=actions-runner-config.service
After=network-online.target
Description=GitHub Actions Runner
Requires=actions-runner-config.service
StartLimitIntervalSec=0
