[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/opt/actions-runner/run.sh
ExecStartPost=/opt/actions-runner/config.sh remove --local
ExecStartPre=/opt/actions-runner/config.sh remove --local
ExecStartPre=/opt/actions-runner/config.sh --ephemeral --unattended
Group=actions-runner
KillMode=mixed
Restart=on-success
TimeoutStopSec=5m
Type=exec
User=actions-runner
WorkingDirectory=/opt/actions-runner

[Unit]
After=network-online.target
Description=GitHub Actions Runner
